<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的商品</title>
</head>
<body>
<div align="center">
{% if my_num == 0 %}
<p>您已经没有商品啦！去<a href="/add_product/">添加</a>一个吧~</p>
{% endif %}
<table>
{% for Product in my_products %}
<tr>
<td><a href="/product_show/?id={{Product.id}}"><img src="/static/media/{{Product.image}}" width="150px" height="150px"/></a></td>
<td>{{Product.name}}</td>
<td>{{Product.price}}</td>
<td><a href="/change_product/?id={{Product.id}}">更新</td>
<td><a href="/delete_product/?id={{Product.id}}">删除</td>
</tr>
{% endfor %}
</table>
<a href="/return_index2/">返回首页</td>
</div>
</body>
</html>
